.MainBodyContentList.left{
    border-left: 1px solid black;
}
.MainBodyContentList.right{
    border-right: 1px solid black;
}
.MainBodyContentList ul{
    list-style-type: disc !important;
    list-style-position: inside !important;
}
.MainBodyContentList li{
    margin-left: 12.5%;
    margin-right: 12.5% ;
    font-size: 21px;
    border: none;
    position: relative;
    padding: 0.5rem 1rem;
    color: #212529;
    text-decoration: none;
    background-color: #fff;
}